/* common style part */
*{
    margin: 0;
    padding: 0;
    max-width: 1280px;
}

.fnt-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
button:hover{
    background-color: hotpink;
    cursor: pointer;
}
a:hover{
    background-color: aqua;
   
}
.card:hover{
    background-color: hsl(0, 0%, 50%, 0.1);
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 10px 30px;
    background-color: #30B868;
    border: none;
    max-width: 200px;
    
}


/* header-styles in nav-ber*/
.navber{
    display: flex;
    justify-content: space-around;
    background: var(#FFFFFF, rgba(255, 255, 255, 1));
    align-items: center;
    padding: 24px 56px;
    margin-bottom: 10px;
}
.nav-text{
    
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
   
   
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}


/* hero-section */
.hero-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image:linear-gradient(hsl(0, 0%, 0%, 0.2)), url(./assets/hero-bg.png);
    background-size: cover;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 120px 230px;
}
.button{
    background: rgba(255, 255, 255, 1);
    border-radius: 80px;
    color: green;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    padding: 7px 24px;
}
.hero-header{
    font-size: 55px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.coorfull-h1{
    color: #30B868;
    text-transform: capitalize;
}
.hero-paragraph{
    color: #FFFFFF;
    font-size: 15px;
    text-transform: capitalize;

}
.hero-button{
    display: flex;
    flex-direction: row;
}

.button-speacial{
    display: flex;
    flex-direction: row;
    align-items: center;
  
    color: white;
    font-size: 12px;
    padding: 10px 30px;
    margin-left: 10px;
    border-radius: 4px;
    background: none;
    border: 1px solid white;
}



/* card-section-style */
.card-sec{
    margin: 15, auto;
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card-header{
    font-size: 36px;
   
    font-weight: 1000;
    

}
.card-paragraph{
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
}

.card{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 24px;
    justify-content: center;
    
}
.card-img{
    background: rgba(249, 85, 85, 1);
    border-radius: 100%;
    padding: 10px;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.card-h1{
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}
.card-p{
    display: flex;
font-size: 12px;
font-weight: 400;
color: hsl(0, 0%, 50%);
align-items: center;
justify-content: center;
}





/* barain-sec */
.barain-sec{
    display: flex;
    align-items: center;
    padding:120px;
    gap: 10px;
}
.brain-text-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    
     text-align: start;
}

/* thanks section */
.tnx-sec{
    margin: 70px 35px;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(247, 246, 242, 1);
    border-radius: 15px;

    gap: 15px;
}

/* footer style */
.footer{
    background: var(--Style, rgba(0, 25, 49, 1));
    

}

.footer-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   padding:90px 55px 20px 55px;
}
.footer-main-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



